{% extends 'base/base.html' %}

{% block title %}
Register
{% endblock %}


{% block content %}
<section>
    <div class="card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% include 'base/includes/basicFormField.html' %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Create Account</button>
            <p class="text-center mt-3 mb-0">
                Already have an account ? Sign in
                <a href="{% url 'signin' %}">here</a>
            </p>
        </form>
    </div>
</section>
{% endblock %}